<?php
/**
 * Application settings.
 */
return [
	'db' => [
		'host' => 'localhost',
		'user' => 'username',
		'pass' => 'password',
		'database' => 'database_name'
	],
	'authToken' => [
		'secret' => 'someKeyNotCommittedToGit'
	]
];
